.movie-list {
    padding: 5px 4%;
    margin-top: 8px;

    .descricao-titulo {
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        margin: 3px;
        padding: 3px;
    }

    .descricao-lancamento {
        color: #fff;
        text-align: center;
        font-size: 15px;
        margin: 3px;
        padding: 3px;
    }
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;       /* Faz os filmes irem para a linha de baixo quando a tela acabar */
  gap: 30px;             /* Espaçamento entre os filmes (horizontal e vertical) */
  margin: 0;
  padding: 30px;
  justify-content: center; /* Opcional: centraliza a lista na tela se sobrar espaço */
}

.movie-card {
  /* Define uma largura padrão para as imagens não ficarem gigantes */
  width: 140px;
}

.image-card {
  width: 100%;           /* Faz a imagem ocupar todo o tamanho do card (200px) */
  height: auto;          /* Mantém a proporção correta da foto do filme */
  border-radius: 8px;    /* Opcional: deixa as bordas arredondadas */
  object-fit: cover;
  cursor: pointer;
  
  /* Estado Inicial Importante */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra bem leve inicial */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a animação */
}

.image-card:hover {
  transform: translateY(-5px); /* Eleva o item levemente para cima */
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.8); /* Sombra mais intensa e espalhada */
}

.paginacao {
  display: flex;
  justify-content: center;

  .texto-pagina {
    color: #fff;
    margin: 0 15px;
    padding: 4px;
  }

  .botao-paginacao {
    background-color: #010d23;
    color: #fff;
    cursor: pointer;
    width: 60px;
    border: none;
    border-radius: 3px;
    padding: 4px;
    transition: background-color 0.3s ease;
  }

  .botao-paginacao:hover {
    background-color: #fff;
    color: #000;
  }

  .not-allowed {
    cursor: not-allowed;
  }
}

